<!--start topbar-->
<div id="top" class="fluid">
    <div class="container_12">
        <div class="grid_12">
            <ul class="social">
                <li><a (click)="goToSocial('facebook')">facebook</a></li>
                <li><a (click)="goToSocial('linkedin')">linkedin</a></li>
                <li><a (click)="goToSocial('twitter')">twitter</a></li>
                <li><a (click)="goToSocial('youtube')">youtube</a></li>
            </ul>
        </div>
    </div>
</div>
<!--end top-bar-->