<div id="header-bar">
    <button mat-button (click)="navigateToPage([''])">Home</button>
    
    <button mat-button
        style="z-index:1050"
        id="gallery-btn"
        #galleryButton
        #galleryMenuTrigger="matMenuTrigger"
        (mouseenter)="buttonEnter(galleryMenuTrigger)" 
        (mouseleave)="buttonLeave(galleryMenuTrigger, galleryButton)"
        [matMenuTriggerFor]="galleries"
        (click)="navigateToPage(['/gallery'])"
        >Galleries</button>
    
    <!-- <button mat-button
        style="z-index:1050"
        id="videos-btn"
        #videosyMenuTrigger="matMenuTrigger"
        (mouseenter)="videosMenuTrigger.openMenu()"
        [matMenuTriggerFor]="videos" 
        (click)="navigateToPage(['/videos'])"
        >Videos</button> -->
    <button mat-button (click)="navigateToPage(['/blog'])">Blog</button>
    <button mat-button (click)="navigateToPage(['/contact-us'])">Contact Us</button>

    <mat-menu #galleries="matMenu" >
        <span (mouseenter)="menuEnter()" (mouseleave)="menuLeave(galleryMenuTrigger, galleryButton)">
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '8', '123'])">J-Pop</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '10', '125'])">Import Scene</button>
        <button mat-menu-item #warcraftButton #warcraftTrigger="matMenuTrigger" [matMenuTriggerFor]="warcraft" (click)="navigateToPage(['/gallery', 'category', '11', '126'])">World of Warcraft</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '12', '127'])">Beautiful Art</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '52', '382'])">Comic Con</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '14', '129'])">Cosplay</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '53', '383'])">Fanime Con</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '9', '124'])">Points of Interest</button>
        </span>
    </mat-menu>

    <mat-menu #warcraft="matMenu">
        <span (mouseenter)="menu2enter()" (mouseleave)="menu2Leave(galleryMenuTrigger, warcraftTrigger, warcraftButton)">
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '54', '384'])">Shaman Transmogs</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '55', '385'])">Druid Transmogs</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '56', '386'])">Rogue Transmogs</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '57', '387'])">Hunter Transmogs</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '58', '388'])">Death Knight Transmogs</button>
        <button mat-menu-item (click)="navigateToPage(['/gallery', 'category', '59', '389'])">Mage Transmogs</button>
        </span>
    </mat-menu>

    <mat-menu #videos="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="jpopvideos" (click)="navigateToPage(['/videos', 'category', '29', '170'])">J-Pop</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '35', '175'])">Warhammer</button>
        <button mat-menu-item [matMenuTriggerFor]="warcraftvideos" (click)="navigateToPage(['/videos', 'category', '37', '177'])">World of Warcraft</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '50', '288'])">Dragon Nest</button>
    </mat-menu>

    <mat-menu #jpopvideos="matMenu">
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '30', '171'])">Utada Hikaru</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '31', '172'])">BoA</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '32', '173'])">Ayumi Hamasaki</button>
    </mat-menu>

    <mat-menu #warcraftvideos="matMenu">
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '390', '60'])">Shaman</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '391', '61'])">Druid</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '392', '62'])">Mage</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '393', '63'])">Rogue</button>
        <button mat-menu-item (click)="navigateToPage(['/videos', 'category', '394', '64'])">Group and Story</button>
    </mat-menu>
</div>
