<jma-teaser-widget *ngIf="teaserInfoReady" [data]="teaserData"></jma-teaser-widget>
<div id="container" class="fluid portfolio">
    <div class="container_12 clearfix">
        <div id="content" class="grid_12">
            <jma-videos-collections *ngIf="videoDataReady" [data]="videoData"></jma-videos-collections>
            <jma-loading-full-page *ngIf="!videoDataReady"></jma-loading-full-page>

        </div>
    </div>
</div>
<jma-footer-bar *ngIf="videosRandomReady" [data]="videosRandom"></jma-footer-bar>
<jma-subfooter-bar></jma-subfooter-bar>