<ul class="portfolio clearfix scrollable" jmaScrollable (scrollPosition)="scrollHandler($event)">
    <li *ngFor="let item of galleries" data-id="id-{{item.id}}" data-type="{{item.catalias}}" jmaFancycaptionSlidetop [slidepos]="-220">
        <div class="fancycaption both">
            <div class="caption slide-top">
                <a routerLink="/gallery/single/{{item.catid}}/{{item.id}}/{{item.itemId}}">
                    <h4>{{item.title}}</h4> <span>{{item.cattitle}}</span></a>
            </div>
            <a routerLink="/gallery/single/{{item.catid}}/{{item.id}}/{{item.itemId}}"><img [src]="item.imgThumb" alt="#" width="318" height="212"></a>
        </div>
    </li>
</ul>
<div class="pagination-button-container">
    <a class="button" (click)="loadMoreCollections()" *ngIf="hasMoreCollections()">load more</a>
</div>