<!--start footer-->
<div id="footer_bg" class="fluid">
    <div id="footer">
        <div class="container_12 clearfix">
            <div *ngFor="let column of galleriesRandom" class="footer_widget {{column.grid}}">
                <div [ngSwitch]="column.type">
                    <jma-gallery-collection *ngSwitchCase="'collection'" [data]="column" [cClass]="footer_title"></jma-gallery-collection>
                    <jma-videos-collection *ngSwitchCase="'video'" [data]="column" [cClass]="footer_title"></jma-videos-collection>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end footer-->